src/main/mule/get-data1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f50592a7-0d75-49d0-b2b9-89658b16b3a0" doc:description="This application is to test how to send one queryparameter and get data from the database. the database i use is called northwind and the table is Employee and the column name is employeeId. this returns java output, i transform it to csv and write it to disk. but in order to write the value of the queryparameters to another disk we have to set them to a variable since our queryParam values are going to change across the flow. so we have to add one set variable immediately after our listener.">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="e4d28c86-7d80-40a4-a69a-6c3a18bc89d4" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Asq@22w0rd#" database="northwind" />
	</db:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="5c673648-0b25-4700-a154-a3c988767d81" >
		<file:connection workingDir="C:\Mulesoft\datafromdatabasees" />
	</file:config>
	<flow name="get-data1Flow" doc:id="c9fa1c70-ca57-4c8c-9f12-6a8e8de919d7" >
		<http:listener doc:name="Listener" doc:id="e18749de-7bf1-480a-9c55-f615057055cf" config-ref="HTTP_Listener_config" path="get-data" doc:description="This application is to test how to send one queryparameter and get data from the databasees. the database i use is called northwind and the table is Employee and the column name is employeeId. this returns java output, i transform it to csv and write it to disk. but in order to write the value of the queryparameters to another disk we have to set them to a variable since our queryParam values are going to change across the flow. so we have to add one set variable immediately after our listener."/>
		<set-variable value="#[attributes.queryParams.employeeId]" doc:name="Set employeeId" doc:id="4830b710-c8ca-4f77-8894-5f902c1ecccf" variableName="employeeId"/>
		<logger level="INFO" doc:name="Logger" doc:id="8f0cdfe2-8a5a-4447-8e32-f444249b6bad" message='#["This is the Employee ID that has been submitted: " ++ attributes.queryParams.employeeId]'/>
		<db:select doc:name="get data from MySQL" doc:id="771ddfc3-f546-4bb6-9916-55f8c5140891" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM employee where employeeId= :employeeId;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'employeeId': attributes.queryParams.employeeId}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="To csv" doc:id="a11b58e9-032e-409e-972a-8a726f81f24b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write to disk" doc:id="94a4d89f-e239-40f5-82f9-5e40190da4e6" config-ref="File_Config" path='#[vars.employeeId ++ ".csv"]'/>
	</flow>
</mule>
